### Variáveis do arquivo dev.yml
IMAGEM_NGINX_DEV_NOME=antonioanerao/nginx
IMAGEM_NGINX_DEV_VERSAO=alpine.dev.1.0.0
IMAGEM_PHP_DEV_NOME=antonioanerao/php
IMAGEM_PHP_DEV_VERSAO=fpm-alpine.dev.1.0.0
 
### Variáveis do arquivo prod.yml
IMAGEM_NGINX_PROD_NOME=antonioanerao/nginx
IMAGEM_NGINX_PROD_VERSAO=alpine.prod.1.0.0
IMAGEM_PHP_PROD_NOME=antonioanerao/php
IMAGEM_PHP_PROD_VERSAO=fpm-alpine.prod.1.0.0
